.typewrite{
  border-right: 5px solid rgb(178, 202, 224);
  animation: blink-caret .75s step-end infinite;
  display: inline-block;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(178, 202, 224); }
}
