.App {
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  width: 100%;
}

#mainContainer {
  height: 60vh;
  margin: auto;
}

#centerContainer {
  height: 65%;
  margin-bottom: 5%;
}

#footContainer {
  height: 25%;
}
