#center {
  width: 60%;
  height: 100%;
  margin: auto;
}

#animationContainer{
  height: 6.5vh;
}

#centerName {
  color:rgb(169, 191, 203);
  font-size: 13vw;
  font-family: 'Exo';

}

#underline {
  border: 1px solid rgb(164, 194, 221);
  background: rgb(178, 202, 224);
  border-radius: 3px;
  width: 100%;
  height: 5px;
}
